<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/AdminLTE.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/plugins/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="/styles/plugins/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/styles/plugins/bootstrap-slider.css">
    <link rel="stylesheet" href="/styles/plugins/bootstrap-timepicker.min.css">
    <link rel="stylesheet" href="/styles/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/plugins/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="/styles/plugins/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/styles/plugins/daterangepicker-bs3.css">
    <link rel="stylesheet" href="/styles/plugins/flat/_all.css">
    <link rel="stylesheet" href="/styles/plugins/flat/aero.css">
    <link rel="stylesheet" href="/styles/plugins/flat/blue.css">
    <link rel="stylesheet" href="/styles/plugins/flat/flat.css">
    <link rel="stylesheet" href="/styles/plugins/flat/green.css">
    <link rel="stylesheet" href="/styles/plugins/flat/grey.css">
    <link rel="stylesheet" href="/styles/plugins/flat/orange.css">
    <link rel="stylesheet" href="/styles/plugins/flat/pink.css">
    <link rel="stylesheet" href="/styles/plugins/flat/purple.css">
    <link rel="stylesheet" href="/styles/plugins/flat/red.css">
    <link rel="stylesheet" href="/styles/plugins/flat/yellow.css">
    <link rel="stylesheet" href="/styles/plugins/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/plugins/fullcalendar.min.css">
    <link rel="stylesheet" href="/styles/plugins/fullcalendar.print.css">
    <link rel="stylesheet" href="/styles/plugins/futurico/futurico.css">
    <link rel="stylesheet" href="/styles/plugins/icheck.css">
    <link rel="stylesheet" href="/styles/plugins/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="/styles/plugins/line/_all.css">
    <link rel="stylesheet" href="/styles/plugins/line/aero.css">
    <link rel="stylesheet" href="/styles/plugins/line/blue.css">
    <link rel="stylesheet" href="/styles/plugins/line/green.css">
    <link rel="stylesheet" href="/styles/plugins/line/grey.css">
    <link rel="stylesheet" href="/styles/plugins/line/line.css">
    <link rel="stylesheet" href="/styles/plugins/line/orange.css">
    <link rel="stylesheet" href="/styles/plugins/line/pink.css">
    <link rel="stylesheet" href="/styles/plugins/line/purple.css">
    <link rel="stylesheet" href="/styles/plugins/line/red.css">
    <link rel="stylesheet" href="/styles/plugins/line/yellow.css">
    <link rel="stylesheet" href="/styles/plugins/minimal/_all.css">
    <link rel="stylesheet" href="/styles/plugins/minimal/aero.css">
    <link rel="stylesheet" href="/styles/plugins/minimal/blue.css">
    <link rel="stylesheet" href="/styles/plugins/minimal/green.css">
    <link rel="stylesheet" href="/styles/plugins/minimal/grey.css">
    <link rel="stylesheet" href="/styles/plugins/minimal/minimal.css">
    <link rel="stylesheet" href="/styles/plugins/minimal/orange.css">
    <link rel="stylesheet" href="/styles/plugins/minimal/pink.css">
    <link rel="stylesheet" href="/styles/plugins/minimal/purple.css">
    <link rel="stylesheet" href="/styles/plugins/minimal/red.css">
    <link rel="stylesheet" href="/styles/plugins/minimal/yellow.css">
    <link rel="stylesheet" href="/styles/plugins/morris.css">
    <link rel="stylesheet" href="/styles/plugins/polaris/polaris.css">
    <link rel="stylesheet" href="/styles/plugins/select2.min.css">
    <link rel="stylesheet" href="/styles/plugins/square/_all.css">
    <link rel="stylesheet" href="/styles/plugins/square/aero.css">
    <link rel="stylesheet" href="/styles/plugins/square/blue.css">
    <link rel="stylesheet" href="/styles/plugins/square/green.css">
    <link rel="stylesheet" href="/styles/plugins/square/grey.css">
    <link rel="stylesheet" href="/styles/plugins/square/orange.css">
    <link rel="stylesheet" href="/styles/plugins/square/pink.css">
    <link rel="stylesheet" href="/styles/plugins/square/purple.css">
    <link rel="stylesheet" href="/styles/plugins/square/red.css">
    <link rel="stylesheet" href="/styles/plugins/square/square.css">
    <link rel="stylesheet" href="/styles/plugins/square/yellow.css">
    <link rel="stylesheet" href="/styles/skins/skin-blue.min.css">
    <!--STYLES END-->
  </head>

  <body class="hold-transition skin-blue sidebar-mini">
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-2.1.4.min.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/plugins/jquery.dataTables.min.js"></script>
    <script src="/js/plugins/dataTables.bootstrap.min.js"></script>
    <script src="/js/plugins/moment.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/demo.js"></script>
    <script src="/js/plugins/Chart.min.js"></script>
    <script src="/js/plugins/bootstrap-colorpicker.min.js"></script>
    <script src="/js/plugins/bootstrap-datepicker.js"></script>
    <script src="/js/plugins/bootstrap-slider.js"></script>
    <script src="/js/plugins/bootstrap-timepicker.min.js"></script>
    <script src="/js/plugins/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="/js/plugins/daterangepicker.js"></script>
    <script src="/js/plugins/fastclick.min.js"></script>
    <script src="/js/plugins/fullcalendar.min.js"></script>
    <script src="/js/plugins/icheck.min.js"></script>
    <script src="/js/plugins/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/js/plugins/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/js/plugins/jquery-ui.min.js"></script>
    <script src="/js/plugins/jquery.colorhelpers.min.js"></script>
    <script src="/js/plugins/jquery.inputmask.date.extensions.js"></script>
    <script src="/js/plugins/jquery.inputmask.extensions.js"></script>
    <script src="/js/plugins/jquery.inputmask.js"></script>
    <script src="/js/plugins/jquery.knob.js"></script>
    <script src="/js/plugins/jquery.slimscroll.min.js"></script>
    <script src="/js/plugins/jquery.sparkline.min.js"></script>
    <script src="/js/plugins/morris.js"></script>
    <script src="/js/plugins/raphael-min.js"></script>
    <script src="/js/plugins/select2.full.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
